# ignore everything in the root except the "wp-content" directory.
/*
!wp-content/
!.gitignore

# ignore everything in the "wp-content" directory, except:
# mu-plugins, plugins, and themes directories
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

wp-config.php
.DS_Store