# ignore everything in the root except the "wp-content" directory.
/*
!wp-content/
!.gitignore
!acf*.json

# ignore everything in the "wp-content" directory, except:
# mu-plugins, plugins, and themes directories
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
!wp-content/*backup*/*db.zip

wp-config.php
.DS_Store