# ignore everything in the root except the "wp-content" directory.
/*
!wp-content/
!.gitignore
!acf*.json

# ignore everything in the "wp-content" directory, except:
# mu-plugins, plugins, and themes directories
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
!wp-content/*backup*/

wp-config.php
.DS_Store
wp-content/wpvividbackups/wpvivid_restore_log.txt
wp-content/wpvividbackups/wpvivid_log/wpvivid-6484ab444f55d_restore_log.txt
