@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Plugins */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Fonts */
@layer base {
  /* Regular */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* Regular Italic */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
   /* Light */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* Light Italic */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* Medium */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* Medium Italic */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
   /* Bold */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* Bold Italic */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* Black */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
   /* Black Italic */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  body {
    font-family: Roboto, sans-serif;
  }
}

@layer components {
    h1, h2, h3, h4, h5, h6 {
        @apply
        font-bold;
    }

    .page-title {
        @apply
        text-[90px]
        font-black;
    }

    .btn {
        @apply
        inline-block 
        text-[15px] 
        md:text-[20px]
        uppercase 
        font-roboto 
        font-bold 
        text-white 
        text-center
        px-9
        py-[15px]
        rounded-[40px]
        bg-blue-light
        hover:text-white
        hover:bg-blue-second
        hover:ease-in;
        

        &.btn-contact {
            @apply
            w-[160px]
            md:w-[188px] 
            px-8 
            py-[15px] 
            /* rounded-[10px] */
            bg-blue-second
            hover:bg-blue-main;
        }
    }

    section {
        @apply 
        py-[40px];
    }

    .section-title {
        @apply 
        block 
        text-[#b0b0b0] 
        text-[75px] 
        text-center 
        my-[40px] 
        leading-[1];
    }

    .section-heading {
        @apply
        text-[45px]
        md:text-[65px]
        font-bold
        leading-[1];
    }

    .description {
        @apply
        text-[25px]
        font-light
        leading-[1.2];
    }

    .quote {
      @apply
      text-white
      text-[40px]
      font-medium
      leading-[1.3]
      italic;
    }

    .header {
        &.scroll,
        &.fill {
            @apply
            bg-blue-main;

            .header-logo {
                @apply
                bg-[url('/images/header-logo-alt.svg')];
            }

            .nav-primary .menu-item a {
                @apply
                hover:text-blue-light; 
            }

            .btn-contact {
                &:hover {
                    @apply
                    hover:bg-blue-light;
                }
            }
        }

        .header-logo {
            @apply
            bg-[url('/images/header-logo.svg')]
            bg-contain
            bg-no-repeat
            bg-center;
        }
    }
    
    nav.nav-primary {
        .menu-item {
            @apply 
            mr-[25px]
            ml-[25px];

            a {
                @apply 
                text-white 
                text-[16px] 
                font-black 
                uppercase 
                ease-in 
                hover:text-blue-main
                hover:ease-in;
            }
        }
    }

    .mobile-menu-list {
        .menu-item {
            @apply
            border-b-[1px]
            border-blue-second;

            a {
                @apply
                inline-block
                text-white
                text-[20px]
                font-bold
                uppercase
                py-[10px];

                &:hover {
                    @apply
                    text-blue-light;
                }
            }
        }
    }

    /* Hamburger menu */
    .menuBtn_lines {
        width: 40px;
        height: 28px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    .menuBtn_lines span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        border-radius: 5px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .menuBtn_lines span {
        background: #fff;
    }
    
    .menuBtn_lines span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    
    .menuBtn_lines span:nth-child(2) {
        top: 12px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    
    .menuBtn_lines span:nth-child(3) {
        top: 24px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    
    .menuBtn_lines.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
        left: 6px;
    }
    
    .menuBtn_lines.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    
    .menuBtn_lines.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 29px;
        left: 5px;
    }
  /* Timeline */
  .timeline-dot {
    &.in-view {
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        @apply
        bg-grey-dark;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 32px;
      height: 32px;
      border-radius: 50%;
      transition: all .4s ease-in-out;
      @apply
      bg-grey;
    }
  }

  /* Testimonials */
  .testimonial-slider {
    .slick-arrow {
      @apply
      z-50;

      &::before {
        @apply
        block
        content-['']
        w-[80px]
        h-[80px]
        text-blue-second
        text-[50px] 
        font-['bold'];
        font-family: 'Font Awesome 6 Free';
      }

      &.slick-prev {
        @apply
        before:content-['\f08b']
        rotate-180;
      }
      &.slick-next {
        @apply
        before:content-['\f08b'];
      }
    }

    .slick-list {
      @apply
      pb-[25px];
    }

    .slick-dots {
      li {
        button {
          @apply
          before:content-['•']
          before:text-[15px]
          before:text-black;
        }

        &.slick-active {
          button {
            @apply
            before:text-blue-second;
          }
        }
      }
    }
  }

  /* Glass CSS START */
  /* Footer START*/
  .footer-cols {
    h3 {
      @apply text-2xl font-bold;
    }

    &.working-hours {
      @apply text-3xl font-bold;

      i {
        @apply text-4xl mr-2;
      }
    }

    .contact-us-wrapper {
      @apply text-3xl font-bold;

      i {
        @apply text-blue-second mr-3 w-8;
      }
    }
  }

  .footer-widget {
    .widget.widget_nav_menu {
      @apply mt-10;
    }

    ul {
      @apply text-xl list-disc list-inside;
    }

    li {
      @apply mt-2;
    }
  }

  ul#menu-footer-menu li {
    @apply inline font-bold mr-2 last:mr-0;
  }
  /* Footer END*/
  /* Glass CSS END */
}
