@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// SCSS
@import 'common/nav';

/* Fonts */
@layer base {
    /* Regular */
    @font-face {
        font-family: Roboto;
        font-weight: 400;
        src: url("../fonts/Roboto-Regular.ttf") format("opentype");
    }
    /* Light */
    @font-face {
        font-family: Roboto;
        font-weight: 300;
        src: url("../fonts/Roboto-Light.ttf") format("opentype");
    }
    /* Light Italic */
    @font-face {
        font-family: Roboto;
        font-weight: 300;
        font-style: italic;
        src: url("../fonts/Roboto-LightItalic.ttf") format("opentype");
    }
    /* Medium */
    @font-face {
        font-family: Roboto;
        font-weight: 500;
        src: url("../fonts/Roboto-Medium.ttf") format("opentype");
    }
    /* Medium Italic */
    @font-face {
        font-family: Roboto;
        font-weight: 500;
        font-style: italic;
        src: url("../fonts/Roboto-MediumItalic.ttf") format("opentype");
    }
    /* Bold */
    @font-face {
        font-family: Roboto;
        font-weight: 700;
        src: url("../fonts/Roboto-Bold.ttf") format("opentype");
    }
    /* Bold Italic */
    @font-face {
        font-family: Roboto;
        font-weight: 700;
        font-style: italic;
        src: url("../fonts/Roboto-BoldItalic.ttf") format("opentype");
    }
    /* Black */
    @font-face {
        font-family: Roboto;
        font-weight: 900;
        src: url("../fonts/Roboto-Black.ttf") format("opentype");
    }
    /* Black */
    @font-face {
        font-family: Roboto;
        font-weight: 900;
        font-style: italic;
        src: url("../fonts/Roboto-BlackItalic.ttf") format("opentype");
    }

    body {
        font-family: Roboto;
    }
}