@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Fonts */
@layer base {
    /* Regular */
    @font-face {
        font-family: Roboto;
        font-weight: 400;
        src: url("../fonts/Roboto-Regular.ttf") format("opentype");
    }
    /* Light */
    @font-face {
        font-family: Roboto;
        font-weight: 300;
        src: url("../fonts/Roboto-Light.ttf") format("opentype");
    }
    /* Light Italic */
    @font-face {
        font-family: Roboto;
        font-weight: 300;
        font-style: italic;
        src: url("../fonts/Roboto-LightItalic.ttf") format("opentype");
    }
    /* Medium */
    @font-face {
        font-family: Roboto;
        font-weight: 500;
        src: url("../fonts/Roboto-Medium.ttf") format("opentype");
    }
    /* Medium Italic */
    @font-face {
        font-family: Roboto;
        font-weight: 500;
        font-style: italic;
        src: url("../fonts/Roboto-MediumItalic.ttf") format("opentype");
    }
    /* Bold */
    @font-face {
        font-family: Roboto;
        font-weight: 700;
        src: url("../fonts/Roboto-Bold.ttf") format("opentype");
    }
    /* Bold Italic */
    @font-face {
        font-family: Roboto;
        font-weight: 700;
        font-style: italic;
        src: url("../fonts/Roboto-BoldItalic.ttf") format("opentype");
    }
    /* Black */
    @font-face {
        font-family: Roboto;
        font-weight: 900;
        src: url("../fonts/Roboto-Black.ttf") format("opentype");
    }
    /* Black */
    @font-face {
        font-family: Roboto;
        font-weight: 900;
        font-style: italic;
        src: url("../fonts/Roboto-BlackItalic.ttf") format("opentype");
    }

    body {
        font-family: Roboto;
    }
}

@layer components {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }

    .btn {
        @apply
        inline-block 
        text-[15px] 
        md:text-[20px]
        uppercase 
        font-roboto 
        font-bold 
        text-white 
        text-center
        px-9 
        py-[15px] 
        rounded-[40px] 
        bg-blue-light
        hover:text-white
        hover:bg-blue-second
        hover:ease-in;
        

        &.btn-contact {
            @apply
            w-[160px]
            md:w-[188px] 
            px-8 
            py-[15px] 
            /* rounded-[10px] */
            bg-blue-second
            hover:bg-blue-main;
        }
    }

    section {
        @apply 
        py-[40px];
    }

    .section-title {
        @apply 
        block 
        text-[#b0b0b0] 
        text-[75px] 
        text-center 
        my-[40px] 
        leading-[1];
    }

    .section-heading {
        @apply
        text-[45px]
        md:text-[65px]
        font-bold
        leading-[1];
    }

    .description {
        @apply
        text-[25px]
        font-light
        leading-[1.2];
    }

    .header {
        &.scroll {
            @apply
            bg-blue-main;

            .header-logo {
                @apply
                bg-[url('/images/header-logo-alt.svg')];
            }

            .nav-primary .menu-item a {
                @apply
                hover:text-blue-light; 
            }
        }

        .header-logo {
            @apply
            bg-[url('/images/header-logo.svg')]
            bg-cover
            bg-no-repeat
            bg-center;
        }
    }
    
    nav.nav-primary .menu-item {
        @apply mr-[50px];
    }

    nav.nav-primary .menu-item a {
        @apply 
        text-white 
        text-[16px] 
        font-black 
        uppercase 
        ease-in 
        hover:text-blue-main 
        hover:ease-in;
    }
}